<h1>Add a Taco</h1>

<form action="/tacos" method="post">
  <label for="shell"> Shell </label>
  <input type="text" name='shell' id='shell'>

  <label for="taste"> Taste </label>
  <input type="text" name='taste' id='taste'>
  <input type="submit">
</form>

